body{
	background-color: gray;	
	font-family:"Calibri";
}
ul{
	list-style: none;
}
nav{
	width:100%;
	text-align: center;
	margin:0 auto;
}
li{
	display: inline-block;
}
a{
	text-decoration: none;
	color:white;
}
a:hover{
	color:black;
}
img{
	width:30%;
	height:30%;
	border-radius: 10px;
}
article{
	text-align: center;  
	border-style: dotted;
	border-radius: 5px;
	border-color: whitesmoke;
}
p{
	text-align: justify;
}