body{
	background-color: gray;	
	font-family:"Calibri";
}
ul{
	list-style: none;
}
nav{
	width:100%;
	text-align: center;
	margin:0 auto;
	background-color: black;
	padding: 2px;
}

li{
	display: inline-block;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;	
}
li:hover{
	transform:rotate(7deg);
	-webkit-transform:rotate(7deg);
}
a{
	text-decoration: none;
	color:white;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;	
	
}
a:hover{
	color:rgb(235, 173, 64);
	width: 90px;
}
img{	
	border-radius: 10px;
	vertical-align: middle;
	margin: 0 auto;
}
section{	
	border-style: dotted;
	border-radius: 5px;
	border-color: whitesmoke;
}
article{
	text-align: center;  
	margin-top: 3%
}
p{
	text-align: justify;
	vertical-align: middle;
	color:white;
	font-size: 15px;
}


@media screen and (max-width:1400px){
	  p{      
	display: inline-block;
	width: 69%;
   }
   img{

	width:30%;
	height:30%;
	display: inline-block;
   }

}

@media screen and (max-width:1000px){
 
   p{
      width:100%;
      display: blocK;
   }
   img{
   	width:90%;
	height:90%;
	display: blocK;
   }

 }