body{
	background-color: gray;	
	font-family:"Calibri";
}
ul{
	list-style: none;
}
nav{
	width:100%;
	text-align: center;
	margin:0 auto;
	background-color: black;
	padding:2px;
}
li{
	display: inline-block;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
}
li:hover{
	transform:rotate(7deg);
	-webkit-transform:rotate(7deg);
}
a{
	text-decoration: none;
	color:white;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
}
a:hover{
	color:orange;
}

article{
	margin-top: 2%;
	text-align: center;  
	
}
section{
	border-style: dotted;
	border-radius: 5px;
	border-color: whitesmoke;
}
p{
	text-align: justify;
	display: inline-block;
	width:60%;
	vertical-align: middle;
	color:white;
}
img{
	width:30%;
	height:30%;
	border-radius: 10px;
	display:inline-block;
	vertical-align: middle;
}
@media screen and (max-width:1400px){
	p{
		display: inline-block;
	}
	img{
		display: inline-block;
	}
}
@media screen and (max-width:1000px){
	p{
		display: block;
		width:100%;
	}
	img{
		display: block;
		width:80%;
		height: 40%;
		margin:0 auto;
	}
}